# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store

# Streamlit cache
.streamlit/

# Large datasets (optional)
data/raw/

# Temporary files
*.log